{% from 'header.html' import header %}

<!doctype html>

<html lang="en">

{{ header("Markdown to Public Link") }}

<body id="index-body">

  <a href="/directory"><span class="mdi mdi-notebook color-inherit" id="site-icon"></span></a>

  <div id="site-name">
    <span>{{ site_name }}</span>
    <span class="cursor">_</span>
  </div>

  {% if message %}
    <span id="message">{{ message|upper }}</span>
  {% endif %}

  {% if login %}
    <form action="{{ url_for('dologin') }}" method="POST">
      <input type="hidden" name="original_url" value="{{ original_url }}">
      <span class="mdi mdi-chevron-right color-inherit" id="chevron"> </span>
      <input type="password" name="password" placeholder="Please enter the password...">
      <input type="checkbox" id="remember_me" name="remember_me" title="Remember Me">
      <label for="remember_me" title="Remember Me" id="remember_me_label"><span class="mdi mdi-shield-key color-inherit"></span></label>
    </form>
  {% endif %}

  <div id="footer">
    <span><a href="https://github.com/Dullage/MarkdownToPublicLink"><span class="mdi mdi-github-circle color-inherit"></span>  MarkdownToPublicLink</a></span>
  </div>  

</body>

</html>
