{% from 'header.html' import header %}

<!doctype html>

<html lang="en">

{{ header("Markdown To Public Link") }}

<body id="message-body">

  <span class="mdi mdi-markdown color-inherit" id="md-icon"></span>

  <div id="message">
    <span>{{ message }}</span>
    <span class="cursor">_</span>
  </div>

  <div id="footer">
    <span><a href="https://github.com/Dullage/MarkdownToPublicLink"><span class="mdi mdi-github-circle color-inherit"></span>  MarkdownToPublicLink</a></span>
  </div>  

</body>

</html>
